{# templates/accueil.html.twig #}
{% extends 'base.html.twig' %}

{# ... #}

{% block title %}Page d'Accueil{% endblock%}

{% block stylesheets %}
    <link href="{{ asset('css/accueil.css') }}" rel="stylesheet"/>
    {{ parent() }}
{% endblock%}

{% block menu %}
    {{ parent() }}
{% endblock%}

{% block body %}
    <div class="phrase_accroche">
        <h1>Phrase d'acroche</h1>
    </div>
    <div class="fleche">
        <a href="{{ path('all_posts') }}#conteneur_ensemble_figure"><i class="fa-solid fa-arrow-down"></i></a>
    </div>
    <div id="conteneur_ensemble_figure">
        {% if posts is defined %}
            {#mettre l'ensemble des figures#}
            {% for post in posts %}
            <div class="conteneur_figure">
                <div>
                    {% if pictures[post.id] is defined %}
                        <img src="{{ asset('uploads/picture/' ~ pictures[post.id]) }}" alt="Symfony!"/>
                    {% else %}
                        <img src="{{ asset('uploads/picture/courchevel-paysage-654104a6becdf.jpg') }}" alt="Symfony!"/>
                    {% endif %}
                </div>
                <div class="ensemble_nom_figure_edit_delete">
                    <a href="{{ path('post_show', {id: post.id}) }}"><p>{{post.name}}</p></a>
                    {% if app.user %}
                    <a href="{{ path('post_edit', {id: post.id}) }}"><i class="fa-solid fa-pen"></i></a>
                    <a href="{{ path('post_delete', {id: post.id}) }}"><i class="fa-solid fa-trash"></i></a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="fleche">
        <a href="{{ path('all_posts') }}#conteneur_ensemble_figure"><i class="fa-solid fa-arrow-up"></i></a>
    </div>
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock%}

{% block javascripts %}
{{ parent() }}
{% endblock %}