{# templates/accueil.html.twig #}
{% extends 'base.html.twig' %}

{# ... #}

{% block title %}Page de {{post.name}}{% endblock%}

{% block stylesheets %}
    <link href="{{ asset('css/detail.css') }}" rel="stylesheet"/>
    {{ parent() }}
{% endblock%}

{% block body %}
    {% if app.user %}
    <div id="logo_modify_delete">
        <a href="{{ path('post_edit', {slug: post.name}) }}"><i class="fa-solid fa-pen"></i></a>
        {#<a href="{{ path('post_delete', {id: post.id}) }}"><i class="fa-solid fa-trash"></i></a>#}
        <a href="/delete?choice=post&postid={{ post.id }}"><i class="fa-solid fa-trash"></i></a>
    </div>
    {% endif %}
    <div class="conteneur_ensemble_image_video">
        {% if pictures is defined %}
            {% for pictur in pictures %}
            {#mettre l'ensemble des figures#}
            {#<div>#}
                <img src="{{ asset('uploads/picture/' ~ pictur.pictureFilename) }}" alt="Symfony!"/>
            {#</div>#}
            {% endfor %}
        {% endif %}
        {% if videos is defined %}
            {% for video in videos %}
            {#mettre l'ensemble des figures#}
            {#<div>#}
                {#<source src={{ asset('uploads/video/' ~ vide.videoFilename) }}" type="video/mp4">#}
                <iframe width="15%" height="auto" src="{{video.videoFilename}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            {#</div>#}
            {% endfor %}
        {% endif %}
    </div>
    <div id="message_flash">
        {% for message in app.flashes('notification') %}
            {{ message }}
            {#<button type="button"><span aria-hidden="true">&times;</span></button>#}
        {% endfor %}
    </div>
    <div class="conteneur_information">
        <h2>{{post.name}}</h2>
        <p>{{post.description}}</p>
        <p>{{post_group_figure}}</p>
    </div>

    <div class="conteneur_ajout_commentaire">
        <h2>Ajoutez votre commentaire</h2>
        {{ form_start(form) }}
            {{ form_row(form.author) }}
            {{ form_row(form.email) }}
            {{ form_row(form.content) }}
            {{ form_row(form.date) }}
            <p>{{ date_jour }}</p>

            <button type="submit" class="btn btn-primary">Créer</button>
        {{ form_end(form) }}
    </div>

    <div class="conteneur_commentaires">
        <h2>Commentaires</h2>
            {#{% if comments is defined %}#}
                {% for comment in pagination %}
                    <div class="conteneur_photo_commentaire">
                        {#<p>{{ gravatar[comment.id] }}</p>#}
                        <img src={{ gravatar[comment.id] }} alt="aa" class="image_gravatar" />
                        <div class="conteneur_commentaire">
                            <p>{{ comment.author }}</p>
                            <p>{{ comment.content }}</p>
                            <p>écrit le {{ comment.date.format('d/m/Y') }} à {{ comment.date.format('H:i:s') }}</p>
                        </div>
                    </div>
                {% endfor %}
            {#{% endif %}#}
    </div>

    <div id="bloc_pagination">
        {{ knp_pagination_render(pagination) }}
    </div>
    
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% endblock %}