{# templates/accueil.html.twig #}
{% extends 'base.html.twig' %}

{# ... #}

{% block title %}Page de {{post.name}}{% endblock%}

{% block stylesheets %}
    <link href="{{ asset('css/edit.css') }}" rel="stylesheet"/>
    {{ parent() }}
{% endblock%}

{% block body %}
    <div class="conteneur_ensemble_image_video">
        {% if pictures is defined %}
            {% for pictur in pictures %}
            <div class="conteneur_image_logo">
                <img src="{{ asset('uploads/picture/' ~ pictur.pictureFilename) }}" alt="Symfony!"/>
                <div class="logo_modify_delete">
                    <a href="{{ path('picture_edit', {id: pictur.id}) }}"><i class="fa-solid fa-pen"></i></a>
                    <a href="{{ path('picture_delete', {id: pictur.id}) }}"><i class="fa-solid fa-trash"></i></a>
                </div>
            </div>
            {% endfor %}
        {% endif %}
        {% if videos is defined %}
            {% for vide in videos %}
            {#mettre l'ensemble des figures#}
            <div class="conteneur_image_logo">
                <video>
                    <source src={{ asset('uploads/video/' ~ vide.videoFilename) }}" type="video/mp4"> 
                </video>
                <div id="logo_modify_delete">
                    <a href="{{ path('video_edit', {id: video.id}) }}"><i class="fa-solid fa-pen"></i></a>
                    <a href="{{ path('video_delete', {id: video.id}) }}"><i class="fa-solid fa-trash"></i></a>
                </div>
            </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="conteneur_information">
        {{ form_start(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.description) }}
            {{ form_row(form.group_figure) }}
            {{ form_row(form.picture) }}
            {{ form_row(form.video) }}

            <div id="bouton">
                <a href="{{ path('post_delete', {id: post.id}) }}"><p>Suppression</p></a>
                <button type="submit" class="btn btn-primary">Créer</button>
            </div>
        {{ form_end(form) }}
    </div>
    
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% endblock %}